$backgroundColor: #1f1f1f;
$highlightColor: #07D1FF;
$activeColor: #FF7;
$borderColor: #565656;

/* Mobile & Tablet */
$tabletSize: 1158px;
$mobileSize: 580px;
$borderColorMobile: #C5C4C4;
$backgroundColorMobile: #545454;
$textColorMobile: #F9F9F9;
$socialIconImagePath: url('../assets/icons-med.png');
$facebookColor: #3b5998;
$twitterColor: #00aced;
$linkedinColor: #007bb6;
$youtubeColor: #bb0000;
$instagramColor: #517fa4;
$stackoverflowColor: #f58233;
$amazonColor: #ff9700;
$githubColor: #4078c0;
$kickstarterColor: #87c442;

/* Social Colors */
$twitter: #00aced;
$facebook: #3b5998;
$stackoverflow: #f48024;
$linkedin: #007bb6;
$github: #6e5494;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$instagram: #bc2a8d;
$wordpress: #21759b;