$backgroundColor: rgba(31, 31, 31, 0.94);
$backgroundColorSocial: rgba(31, 31, 31, 0.64);
$backgroundColorSolid: rgb(31, 31, 31);
$titleBackgroundColor: #200122;
$footerColor: #dadada;
$color1: #3B0908;
$color2: #4a4b4e;
$color3: #d7d7d7;
$color4: #3C4162;
$paragraphBackground: rgba(255,255,255,0.1);
$lighterGrey: #7b7b7b;
$highlightColor: #07D1FF;
$activeColor: #FF7;
$borderColor: #565656;
$backgroundColorBlue: rgba(31, 129, 154, 0.618);

/* Mobile & Tablet */
$tabletSize: 1158px;
$mobileSize: 800px;
$borderColorMobile: #C5C4C4;
$backgroundColorMobile: #545454;
$textColorMobile: #F9F9F9;

/* Social Colors */
$twitter: #00aced;
$facebook: #3b5998;
$stackoverflow: #f48024;
$linkedin: #007bb6;
$github: #6e5494;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$instagram: #bc2a8d;
$wordpress: #21759b;
$kickstarter: #87c442;
$amazon: #ff9700;

/* Filter Icon Colors */
$steam: #00adee;
$windows: #0078D6;
$oculus: #e4002b;
$apple: #999999;