$techIconsImageUrl: url('http://res.cloudinary.com/hnairgdu6/image/upload/v1520408038/tech-icons_a549ew.png');

.tech-icon {
    width: 63px;
    height: 63px;
}
.tech-icon--osx {
    background: $techIconsImageUrl no-repeat 0 0;
}
.tech-icon--ios {
    background: $techIconsImageUrl no-repeat -64px 0;
}
.tech-icon--android {
    background: $techIconsImageUrl no-repeat -128px 0;
}
.tech-icon--apple {
    background: $techIconsImageUrl no-repeat -192px 0;
}
.tech-icon--windows {
    background: $techIconsImageUrl no-repeat 0 -64px;
}
.tech-icon--linux {
    background: $techIconsImageUrl no-repeat -64px -64px;
}
.tech-icon--web {
    background: $techIconsImageUrl no-repeat -128px -64px;
}
.tech-icon--bash {
    background: $techIconsImageUrl no-repeat -192px -64px;
}
.tech-icon--node {
    background: $techIconsImageUrl no-repeat 0 -128px;
}
.tech-icon--apache {
    background: $techIconsImageUrl no-repeat -64px -128px;
}
.tech-icon--objc {
    background: $techIconsImageUrl no-repeat -128px -128px;
}
.tech-icon--swift {
    background: $techIconsImageUrl no-repeat -192px -128px;
}
.tech-icon--php {
    background: $techIconsImageUrl no-repeat 0 -192px;
}
.tech-icon--python {
    background: $techIconsImageUrl no-repeat -64px -192px;
}
.tech-icon--js {
    background: $techIconsImageUrl no-repeat -128px -192px;
}
.tech-icon--realbasic {
    background: $techIconsImageUrl no-repeat -192px -192px;
}
.tech-icon--html {
    background: $techIconsImageUrl no-repeat 0 -256px;
}
.tech-icon--css {
    background: $techIconsImageUrl no-repeat -64px -256px;
}
.tech-icon--sass {
    background: $techIconsImageUrl no-repeat -128px -256px;
}
.tech-icon--jquery {
    background: $techIconsImageUrl no-repeat -192px -256px;
}
.tech-icon--vue {
    background: $techIconsImageUrl no-repeat 0 -320px;
}
.tech-icon--angular {
    background: $techIconsImageUrl no-repeat -64px -320px;
}
.tech-icon--magento {
    background: $techIconsImageUrl no-repeat -128px -320px;
}
.tech-icon--symfony {
    background: $techIconsImageUrl no-repeat -192px -320px;
}
.tech-icon--cocos2d {
    background: $techIconsImageUrl no-repeat 0 -384px;
}
.tech-icon--unity {
    background: $techIconsImageUrl no-repeat -64px -384px;
}
.tech-icon--sss {
    background: $techIconsImageUrl no-repeat -128px -384px;
}
.tech-icon--npm {
    background: $techIconsImageUrl no-repeat -192px -384px;
}
.tech-icon--cocoapods {
    background: $techIconsImageUrl no-repeat 0 -448px;
}
.tech-icon--mysql {
    background: $techIconsImageUrl no-repeat -64px -448px;
}
.tech-icon--mongodb {
    background: $techIconsImageUrl no-repeat -128px -448px;
}
.tech-icon--app {
    background: $techIconsImageUrl no-repeat -192px -448px;
}
