<!DOCTYPE html>
<html>
    <head>
        <title>Tim Cool - Software Developer &amp; Engineer</title>
        <meta charset="utf-8">
        <meta name="description" content="Homepage for Software Developer Timothy Cool" />
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
        <link href='https://fonts.googleapis.com/css?family=Audiowide|Exo+2' rel='stylesheet' type='text/css'>
        <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.0/jquery.fancybox.min.js"></script>
    </head>
    <body>
        {{ APP }}
        {{ STATE }}
        <script type="text/javascript" src="/assets/js/vendor.js"></script>
        <script type="text/javascript" src="/assets/js/app.js"></script>
    </body>
</html>
