<!DOCTYPE html>
<html>
    <head>
        <title>Tim Cool - Software Developer &amp; Engineer</title>
        <meta charset="utf-8">
        <meta name="description" content="Homepage for Software Developer Timothy Cool" />
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
<!--         <base href="/timcool-site/">
        <link href='https://fonts.googleapis.com/css?family=Audiowide|Exo+2' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="/timcool-site/web/styles/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/timcool-site/web/styles/custom.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-git2.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.min.js"></script>
        <script type="text/javascript" src="//code.angularjs.org/1.2.10/angular-route.min.js"></script>
        <script type="text/javascript" src="/timcool-site/web/scripts/bootstrap.min.js"></script>
        <script type="text/javascript" src="/timcool-site/web/scripts/app.js"></script>
        <script type="text/javascript" src="/timcool-site/web/scripts/social-links.js"></script>
        <script type="text/javascript" src="/timcool-site/web/scripts/main-panel.js"></script> -->
    </head>

    <body>
        {{ APP }}
        {{ STATE }}
        <script type="text/javascript" src="/assets/js/app.js"></script>
<!--         <div id="main-panel" ng-include="'/timcool-site/web/templates/main-panel.html'" ng-controller="MainPanel as mainpanel"></div>
        <div id="social-links" ng-include="'/timcool-site/web/templates/social-links.html'" ng-controller="SocialLinks as sociallinks"></div>
        <div id="side-panel" ng-include="'/timcool-site/web/templates/side-panel.html'" ng-controller="SidePanel as sidepanel"></div> -->
<!--         <script>
            window.twttr = (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                          t = window.twttr || {};
                if (d.getElementById(id)) return t;

                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function(f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script> -->
        <!-- <script type="text/javascript" src="/timcool-site/web/scripts/side-panel.js"></script> -->
    </body>
</html>
